@font-face {
  font-family: ador;
  src: url(SuperAdorable-MAvyp.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
@mixin team-text {
  font-size: clamp(10px, 3.5vw, 14px);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
main {
  width: 100%;
  min-height: 100%;
  background-image: url(media/bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .blur {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }
}
.content {
  position: relative;
  width: 100%;
  max-width: 1280px;
  display: flex;
  padding-block: 1rem;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  color: white;
  h1 {
    font-weight: 600;
    font-size: clamp(24px, 8vw, 32px);
    text-align: center;
    padding-top: 2rem;
  }
  #umpire {
    width: clamp(150px, 50%, 200px);
    mask-image: linear-gradient(to top, transparent 0%, black 10%);
  }
  .main-text {
    font-size: clamp(20px, 8vw, 28px);
    padding-block: 2rem;
    display: block;
  }
  .winner-stats {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    gap: 0.5rem;
    .flag {
      width: clamp(200px, 60%, 300px);
      height: 120px;
      border-radius: 1rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .names-box {
      width: 70%;
      display: flex;
      justify-content: center;
      gap: 0.3rem;
      white-space: nowrap;
      .full-name {
        @include team-text();
       
        border: 2px solid white;
      }
      .short-name {
        @include team-text();
    
        border: 2px solid white;
      }
    }
    .caption-year {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      width: 70%;
      h5 {
        text-align: center;
      }
      .caption {
        width: clamp(120px, 50%, 200px);
        img {
          width: 100%;
          mask-image: linear-gradient(to top, transparent 0%, black 20%);
        }
      }
      .captain-withName {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .year {
        @include team-text();
        font-size: clamp(25px, 10vw, 35px);
        padding-inline: 3rem;
        background-color: black;
        border: 2px solid white;
        h4 {
          display: flex;
          flex-direction: column;
          position: relative;
          white-space: nowrap;
          text-align: center;
          &::before {
            content: "Winning Year";
            font-size: 10px;
            text-align: center;
          }
        }
      }
    }
  }
  button {
    padding: 0.5rem 1rem;
    font-size: clamp(13px, 4.5vw, 16px);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-family: ador;
    cursor: pointer;
    letter-spacing: 1px;
  }
}

@media (min-width: 768px) {
  .content {
    .winner-stats {
      flex-direction: row;
      .caption-year {
        flex-direction: row;
        .year {
          font-size: 20px;
          padding-inline: 2rem;
        }
      }
    }
  }
}
